@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model NextGenCMS.UI.Model.LoginResponse
}
<div ng-controller="IndexController"></div>
<script type="text/javascript">
    var loginResponse = @Html.Raw(Json.Encode((NextGenCMS.UI.Model.LoginResponse)Session["SessionContext"]));
    var tenant=@Html.Raw(Json.Encode( @HttpContext.Current.Session["tenant"].ToString()));
    (function () {
        'use strict';
        app.controller('IndexController', ['$scope', 'Cache','Profile',
        function ($scope, Cache,Profile) {
            var token = Cache.get('token');
            if (!token) {
                Cache.put("token", "@Model.Ticket");
            };
            var displayName = Cache.get('displayName');
            if (!displayName) {
                Cache.put("displayName", "@Model.User.firstName" + " " + "@Model.User.lastName");
            };
            var userName = Cache.get('userName');
            if (!userName) {
                Cache.put("userName", "@Model.User.userName");
            };
            if(!Profile.get('Profile')){
                Profile.put("Profile", loginResponse);
            }
        }]);
    })();
</script>